{% extends 'base/base.html' %}
{% load static %}

{% block extra-head %}
{% endblock %}


{% block upper-js %}
{% endblock %}



{% block content %}

    <div class="row app-row">
        <div class="col"><h1 id="coverletter-title" class="text-center text-primary">Cover Letter JP Morgan</h1></div>
    </div>
    <div class="row app-gamef1-container app-row" id="app-gamef1-container-1">
        <div class="col"><p class="text-center">Technical Business Analyst</p></div>
    </div>

    <div class="row justify-content-center app-row">
        <div class="col-9">
            <p class="text-left">To whom it may concern.</p>
            <p class="text-left">My name is Alexandre, I'm Brazilian and I'm 35 years old.
            I have a barchelor and a master degree in process engineering
            and recently moved to Houston with my family, as my wife was
            promoted to a job position here.</p>
            <p class="text-left">I have a relevant background to fill the open position you are looking for.
                For almost 3 years, I worked at BTG Pactual, one of the largest investment banks in Brazil.
                There, I led the global implementation of a new trades and custody reconciliation system.
                The project involved changing processes in all business areas of the bank, and added to the routine of operations in all BTG offices around the world. In this scenario, in addition to the ability to understand all the bank's products, I also stood out for the ability to negotiate the replacement of a process in the routine of each Operations employee (something that can be difficult at times, and involves the ability to talk, listen and above all to convince each employee, about the importance of the new process for the organization).</p>

            <p class="text-left">I coordinated the project since day 1, and went through all the steps that you listed
                as job requirements, being especially recognized for the ability to liaison between lines
                of business and development teams. As you can see in my resume, my programming skill helped
                me a lot when it comes to translating business rules into technology solutions.</p>
            <p class="text-left">BTG Pactual was, and still is, recognized as one of the companies with the greatest culture
                of hardworking and results in Brazil. Therefore, another relevant point in my curriculum,
                is the ability to work and perform well, in companies with this same culture
                (something very common in the financial market)</p>
            <p class="text-left">I left BTG in 2015, to test myself as entrepreneur and decided to start a company that
                provided drone operations services. At the time, commercial drones were starting to become popular.</p>
            <p class="text-left">At the end of 2015, I was nominated one of the bests drone photographers in the world,
                appearing in several books and publications. I'll put some links here, but you can Google my name if you want.</p>
            <li><a href="https://www.insidehook.com/article/art/dronescape-best-in-drone-photography">Book Article</a></li>
            <li><a href="http://www.dronestagr.am/blog/5-top-pilot-interview-alexandre-salem/">Interview</a></li>
            <li class="pb-3"><a href="https://www.independent.co.uk/arts-entertainment/photography/dronestagram-reveals-impressive-winning-photos-in-global-pollution-competition-a6756216.html">Awarded Photos</a></li>
            <p class="text-left">On the following years, the company became one of the main players in Rio de Janeiro's state,
                regarding drone usage for construction and infrastructure purposes. We also did regular jobs for TV channels and newspapers.</p>
            <p class="text-left">Last year, we decided to move to the U.S. as my wife was transferred to a position in Houston.
                Since October-19, we are living in Sugar Land. My main goal here in the U.S. is to resume my career in my original area,
                and I see in JP Morgan, a company with the culture and values ​​that I admire and would like to be part of.
                </p>
            <p class="text-left">Ps: I don't require visa sponsorship to start working.</p>
            <p class="text-left">With best regards.</p>
            <p class="text-left">Alexandre Salem.</p>
            <p class="text-left">+1 (281) 736 6914</p>


        </div>
    </div>

{% endblock %}