{% extends 'base/base.html' %}
{% load static addcss %}

{% block content %}



    <div class="row justify-content-center app-row">
        <div class="col text-center">
                <h1>{{question_round}}</h1>
        </div>
    </div>
    <div class="row justify-content-center app-row pb-5">
        <div class="col text-center">
            <form id="form_f1pilot" method="post">
                 {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="No" name="answer">
                {% if not result %}
                    <input class="btn btn-warning" type="submit" value="Don't Know" name="answer">
                {% endif %}
                <input class="btn btn-success" type="submit" value="Yes" name="answer">
            </form>
            {{answer}}
        </div>
    </div>



{% endblock %}

{% block under-js %}

{% endblock %}
