{% extends 'base/base.html' %}
{% load static addcss %}

{% block content %}

    <div class="row justify-content-center app-row">
        <div class="col text-center">
            <h1>Click to start the game</h1>
        </div>
    </div>
    <div class="row justify-content-center app-row pb-5">
        <div class="col text-center">
            <a class="btn btn-danger" href="{% url 'f1pilot:game' %}">Start Game</a>
        </div>
    </div>



{% endblock %}

{% block under-js %}

{% endblock %}
