{% extends 'base/base.html' %}
{% load static %}
{% load static %}

{% block content %}

    <div class="row app-row">
        <div class="col"><h3 id="gamef1-title" class="text-center">Login the System</h3></div>
    </div>
    <div class="row app-gamef1-container app-row" id="app-gamef1-container-1">
        <div class="col"><p class="text-center">The form is missing</p></div>
    </div>

    <div class="row justify-content-center app-row" id="app-gamef1-container-2">
        <div class="col-m text-center">

            <form id="gamef1-initial-form" method="post" action="" enctype="multipart/form-data">

                {% csrf_token %}
                {{form}}


                <button id="btnGuess" class="btn btn-primary mb-4" type="submit">Login</button>

            </form>

        </div>
    </div>


{% endblock %}