{% extends 'base/base.html' %}
{% load static addcss %}

{% block content %}

    <div class="row app-row">
        <div class="col"><h3 id="gamef1-title" class="text-center">Guess the F1 Car</h3></div>
    </div>
    <div class="row app-gamef1-container app-row" id="app-gamef1-container-1">
        <div class="col">
            <p class="text-center">Upload a photo, and the algorithm will tell you which car is it.</p>
            <p class="text-center">Seasons available: (1990 to 2020)</p>
        </div>
    </div>

    <div class="row justify-content-center app-row" id="app-gamef1-container-2">
        <div class="col-m text-center">

            <form id="gamef1-initial-form" method="post" action="" enctype="multipart/form-data">


                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field|addcss:"form-control" }}
                    </div>
                {% endfor %}


                <button id="btnGuess" class="btn btn-primary mb-4" type="submit">Guess Car!</button>

            </form>

        </div>
    </div>

{% endblock %}