{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12" id="habitants-container">
            <div class="col-7" id="habitants-container">

                <h1 class="display-3">F1 Car Guesser</h1>
                <h3>Rules:</h3>
                <p>Upload a photo or paste a link URL, and the algorithm will tell you which car is it.</p>
                <form id="gamef1-form" method="post" enctype="multipart/form-data" action="result">
                    {% csrf_token %}

                    <input class="form-control form-control-lg" type="file" name="car-photo">
                    <p>Or</p>
                    <input class="form-control form-control-lg" type="text" placeholder="Paste the link here..." name="car-link">
                    <input class="btn btn-primary my-1" type="submit" value="Guess it!">

                </form>
            </div>
        </div>
    </div>
{% endblock %}