{% extends 'base/base.html' %}
{% load static %}

{% block extra-head %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"> </script>
{% endblock %}

{% block upper-js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock %}


{% block content %}
    <div class="row bg-light">
        <div class="col">
            <h1 class="display-3">Draw a Number</h1>
            <p class="drawnumber_rules">Draw any number from 0 to 9, and hit the button "Guess Number".</p>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">
            <div class="row pt-5">
                <div class="col">
                    <canvas id="myCanvas" width="250" height="250" style="border:2px solid black" ></canvas>
                </div>
            </div>
            <div class="row pt-2 pb-5">
                <div class="col">
                    <button id="btnClear" class="btn btn-primary">Clear Area</button>
                    <button id="btnGuess" class="btn btn-primary">Guess Digit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">
            <div class="row pt-4">
                <div class="col text-left text-success">
                    <canvas id="prediction_chart"></canvas>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block under-js %}
<script src="{% static 'drawnumber/assets/index.js' %}"></script>
<script>

    let model;
    async function loadModel(){
        model = await tf.loadLayersModel('{% static "drawnumber/model/model.json" %}');
        console.log('Modelo Carregado com sucesso');
    }
    loadModel();




</script>
{% endblock %}