{% extends 'base/base.html' %}
{% load static %}

{% block extra-head %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"> </script>
{% endblock %}

{% block upper-js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col" id="habitants-container">

            <h1 class="display-3">Draw a Number</h1>
            <h3 class="drawnumber_rules">Rules:</h3>
            <p class="drawnumber_rules">Draw any number from 0 to 9, and hit the button "Guess Number".</p>
            <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">

                <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">
                    <canvas id="myCanvas" width="250" height="250" style="border:2px solid black" ></canvas>
                </div>
                <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">
<!--                    <form id="canvas-form" method="post">-->
<!--                         {% csrf_token %}-->
<!--                        <input id="drawing" type="text" name="drawing">-->
<!--                        <input id="drawingcode" type="text" name="drawingcode">-->
                        <button id="btnClear" class="btn btn-primary">Clear Area</button>
<!--                        <button id="btnGuess" type="submit" class="btn btn-primary">Guess Digit</button>-->
                        <button id="btnGuess" class="btn btn-primary">Guess Digit</button>
<!--                    </form>-->
                </div>


            </div>

            <div class="col" style="display:block; text-align:center; margin-left:auto; margin-right:auto">
                <h4>Predictions</h4>
                <hr>
                <!-- predictions chart -->
                <canvas id="prediction_chart"></canvas>
            </div>
        </div>
    </div>


{% endblock %}

{% block under-js %}
<script src="{% static 'drawnumber/assets/index.js' %}"></script>
<script>

    let model;
    async function loadModel(){
        model = await tf.loadLayersModel('{% static "drawnumber/model/model.json" %}');
        console.log('Modelo Carregado com sucesso');
    }
    loadModel();




</script>
{% endblock %}