{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row app-container">

        <div class="col">

            <h1 class="display-3">How Big or Small is your Baby?</h1>
<!--                <h3>Rules:</h3>-->
<!--                <p>Upload a photo or paste a link URL, and the algorithm will tell you which car is it.</p>-->
        </div>
    </div>
    <div class="row app-container">
        <div class="col mx-auto">
            <form id="babysize-form" method="get" action="result">
            {% csrf_token %}

            {% for field in form %}

                <div class="form-control border-0 pb-5">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                </div>

            {% endfor %}

              <div class="form-group text-center">
                  <button class="btn btn-primary my-1" type="submit">See Chart</button>
              </div>
            </form>
        </div>
    </div>



{% endblock %}