{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    Google Ads-->
    <script data-ad-client="ca-pub-3182892529131745" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/main.css' %}" >
    <link rel="shortcut icon" href="{% static 'base/assets/site.ico' %}">

    {% block extra-head %}
    {% endblock %}
    <title>Alexandre Salem - Developer Portfolio</title>
  </head>
<body>
    {% block upper-js %}
    {% endblock %}
    <div class="container">

        <div class="row">
            <div class="col-8 mx-auto">
                <a href="{% url 'home' %}" ><img id="logo-nav" class="py-4" src="{%static 'base/assets/aslogo.png' %}"></a>
            </div>
        </div>


  {% block content %}
  {% endblock %}
    </div>

    {% block under-js %}
    {% endblock %}

</body>
</html>