{% extends 'base/base.html' %}
{% load static %}

{% block content %}

        <div class="row bg-light" id="quote">
            <blockquote class="blockquote text-center">
                <hr>
                <p class="lead">"Hi, my name is Alexandre and I'm a process engineer and software developer. In 2019, I've moved to Houston-TX. Over the last months, I've been working in some projects to increase my programming skills and capabilities. </p>
                <p class="lead">I've selected some of them to show in my website, as a portfolio. You can click and interact with them. They all come with my github section where the code is presented.</p>
                <br>
                <footer class="blockquote-footer">By the way, this website was creating using <cite title="Source Title">Django</cite></footer>
                <hr>
            </blockquote>
        </div>
        <div class="row bg-light py-4">
            <div class="col">
                <h3 class="title text-center"><a class="text-decoration-none" href="{% url 'gamef1:home' %}">Guess the F1 Car</a></h3>

                <p class="text-center">Upload a picture and the algorithm will guess the chassis and constructor's name</p>
                <p class="text-center py-0"><a href="https://github.com/alexandresalem/f1car_image_classifier.git">Project on Github</a></p>
                <div class="thumb">
                    <a href="{% url 'gamef1:home' %}"><img class="app-thumb" id="app-gamef1" src="{% static 'base/assets/app_gamef1_thumb.jpg' %}"></a>
                </div>
                <div class="text-center pb-5">
                    <h4>Skills developed:</h4>
                    <li>Deep Learning (Image Classification)</li>
                    <li>OpenCV (manipulating photos into tensors)</li>
                    <li>Tensorflow and Keras Libraries</li>
                    <li>Webscrapping (Selenium)</li>
                    <li>Tensorflow.js (Javascript)</li>
                </div>
                <hr>
            </div>
        </div>

        

        <div class="row bg-light pb-4">
            <div class="col">
                <h3 class="title text-center"><a class="text-decoration-none" href="{% url 'drawnumber:home' %}">Draw a Number</a></h3>
                <p class="text-center">Draw a number and we'll guess it</p>
                <div class="thumb">
                    <a href="{% url 'drawnumber:home' %}"><img class="app-thumb" id="app-number" src="{% static 'base/assets/app_number_thumb.jpg' %}"></a>
                </div>
                <div class="text-center pb-5">
                    <h4>Skills developed:</h4>
                    <li>Deep Learning (Mnist Dataset)</li>
                    <li>Tensorflow and Keras Libraries</li>
                    <li>Canvas Manipulation (HTML and Js)</li>
                    <li>Numpy (Image to Array to Tensor)</li>
                    <li>Charts.js (Javascript)</li>
                </div>
                <hr>
            </div>

        </div>


        <div class="row bg-light pb-4">
            <div class="col">
                <h3 class="title text-center"><a class="text-decoration-none" href="{% url 'babysize:home' %}">How Big or Small is your Baby?</a></h3>
                <p class="text-center">Check how is your baby's height and weight compared to the average</p>
                <div class="thumb">
                    <a href="{% url 'babysize:home' %}"><img class="app-thumb" id="app-babysize" src="{% static 'base/assets/app_babysize_thumb.jpg' %}"></a>
                </div>
                <div class="text-center pb-5">
                    <h4>Skills developed:</h4>
                    <li>Pandas</li>
                    <li>Matplotlib (Python) and Charts.js (Javascript)</li>
                    <li>Django Forms</li>
                </div>
                <hr>
            </div>
        </div>

        <div class="row bg-light pb-4">
            <div class="col">
                <h3 class="title text-center"><a class="text-decoration-none" href="{% url 'habitants:home' %}">How many habitants?</a></h3>
                <p class="text-center">Type any number and find out which Country or U.S. City has the closest population</p>
                <div class="thumb">
                    <a href="{% url 'habitants:home' %}"><img class="app-thumb" id="app-habitants" src="{% static 'base/assets/app_habitants_thumb.jpg' %}"></a>
                </div>
                <div class="text-center pb-5">
                    <h4>Skills developed:</h4>
                    <li>Beautiful Soup</li>
                    <li>List manipulation</li>
                    <li>Webscrapping (to download the photos and create the model)</li>
                    <li>Numpy (to create the model through array batches)</li>
                </div>
            </div>
        </div>


{% endblock %}